
  /* Basic BEIS-style css */

/* BEIS colours
BEIS colours:
 Dark blue = #003366
 Bright blue = #0099cc
 Grey = #a8b8be
 Magenta (pink) = #ee3d8f
 Green = #9ccd63
 Turquoise = #62c6c2
 Gold = #fbb034
 Platinum = #c2baa9

 Non-BEIS colours also included:
 Light blue = #c5e8ff
 Darker green = #5b842b
 Darker grey = #505050
 Darker red = #9a0e11
 Red = #ec3337
 White = #FFFFFF
 Black = #000000.
*/


body {
  margin: 1% 2.5% 1% 2.5%;
  font-family: sans-serif;
  font-size: 16px;
}

h1 {
  color: white;
  background: #003366;
  padding: 1.5% 3% 1.5% 3%;
}

h2 {
  color: #003366;
  border-bottom: 3px solid #003366;
  padding: 1% 1% 0.5% 1%;
}

h3 {
  color: #505050;
  font-size: 22px;
  border-bottom: 2px solid  #a8b8be;
  padding: 1% 1% 0.5% 1%;
}

h4 {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
}

#plot-container {
	position: relative;
}


/* spins and recalc */

.loader {
  border-right: 20px solid #0099cc;
  border-left: 20px solid #003366;
  border-top: 20px solid #003366;
  border-bottom: 20px solid #003366;
  position: absolute;
  border-radius: 50%; 
	left: 50%;
	top: 50%;
  z-index: -1;
  width: 100px;
  height: 100px;
	margin-top: -33px; /* half of the spinner's height */
  margin-left: -33px; /* half of the spinner's width */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }

}

#plot.recalculating {
	z-index: -2;
}

 /* add in elements for a table, borders, bullet lists,
 numbered lists, table captions, table positions, plot positions,
 plot captions, inline code, code blocks, section list elements, block quotes, lines for line break,
 header with beis logo in it, footer with beis logo in it*/

 /* Elements for dygraph */

 .dygraph-title {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  align-content: flex-start;
  font-family: sans-serif;
 }

 .dygraph-axis-label {
   font-size: 11px;
   font-family: sans-serif;
 }